#Comments in Python

In [13]:
#print(this is a comment)
print(" Comment statement can not run or executeable")

 Comment statement can not run or executeable

#Input & Output

In [ ]:
text = input("plz enter your name")
print(text)

#Multiple statements on a single line

In [ ]:
print("Danyal");print("Danyal");print("Danyal")

#Indentation

In [ ]:

'''
x==0
x = "my name is Danyal Qamar"
if x == 0
print(x)
'''

x=0
x = "my name is Danyal Qamar"
if x == 0:
 print(x)

#Use of Single and Tab Indentation

In [ ]:
x=1
if x>0:
    print("we use FOUR SPACES for indentation")
if x<0:
  print("we use a TAB for our indentation")

we use FOUR SPACES for indentation

#Type Checking

In [ ]:
#use type function
x = 9.00
print(type(x))

<class 'float'>

In [ ]:
x = 9
print(type(x))

<class 'int'>

In [ ]:
x = "sharif"
print(type(x))

<class 'str'>

In [ ]:
x = str(9.00)
print(type(x))

<class 'str'>